body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.header_container {
  height: 385px;
  margin-bottom: 50px;
}
.header_container .header_menu_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 60px;
  margin-bottom: 25px;
}
.header_container .header_menu_list img {
  height: 60px;
  margin-right: 40px;
}
.header_container .header_menu_list li {
  margin-right: 25px;
}
.header_container .header_menu_list li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.header_container .header_menu_list input {
  border: none;
}
.header_container .header_menu_list .header_button {
  border: none;
  background-color: #0282F9;
  color: white;
  height: 25px;
}
.header_container .header_image {
  height: 300px;
}
.header_container .header_image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/footer-bg.jpg");
}
.footer_wrapper .footer_list {
  display: flex;
}
.footer_wrapper .footer_list li {
  list-style-type: none;
  margin-right: 20px;
}
.footer_wrapper .footer_list li h1 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
.footer_wrapper .footer_list li p {
  color: #959595;
  font-size: 0.7rem;
  line-height: 0.7rem;
}
.footer_wrapper .logo_footer {
  position: absolute;
  right: 300px;
  height: 270px;
  margin-top: 15px;
}

.character-card {
  height: 350px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid blue;
  border-radius: 15%;
  background-color: grey;
  overflow: hidden;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #1C1C1C;
}
.cards-container .comics_card {
  text-align: center;
  width: 400px;
  margin-bottom: 25px;
}
.cards-container .comics_card .link_fumetto {
  color: white;
  margin: 15px;
  text-decoration: none;
}
.cards-container .comics_card .immagine_fumetto img {
  width: 220px;
}

.comic_title {
  color: #0282F9;
  text-align: center;
}

.single_comic_price {
  text-align: center;
  background-color: #0282F9;
  color: #e2dede;
}

.single_comic_section {
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
}
.single_comic_section .single_comic_image {
  margin-right: 50px;
}
.single_comic_section .single_comic_image img {
  height: 400px;
}
.single_comic_section .single_comic_description {
  width: 400px;
  height: 400px;
}
.single_comic_section .single_comic_description p {
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.single_comic_section .single_comic_description button {
  background-color: #0282F9;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: white;
}