.footer_wrapper{

    display: flex;
    justify-content: space-between;

    background-image: url("../images/footer-bg.jpg");

    .footer_list{
        display: flex;
    
        li{
            list-style-type: none;
            margin-right: 20px;
    
    
            h1{
                color:white;
                font-weight: 500;
                font-size: 1.2rem;
            }

            p{
                color:#959595;
                font-size:0.7rem;
                line-height: 0.7rem;
            }
        }

    }

    .logo_footer{
        position: absolute;
        right: 300px;
        height: 270px;
        margin-top: 15px;
        
    }

}
